<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "org.devgeeks.hello_test"
        version   = "0.5.0">
    <name>hello</name>

    <description>
        Hello World 
    </description>

    <author href="http://devgeeks.org" email="tommy@devgeeks.org">
       hello
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />

    <preference name="phonegap-version" value="3.0.0" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />

    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
</widget>
